/* Normalisation de ma page RESET CSS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cormorant Garamond', serif;
}

h1 {
    font-family: 'Staatliches', cursive;
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
}